# =====================
# Python basics
# =====================
__pycache__/
*.py[cod]
*.so
.vscode/

# =====================
# uv
# =====================
.uv/
.venv/

# =====================
# Build / packaging
# =====================
build/
dist/
*.egg-info/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/


# =====================
# Type checking / linting
# =====================
.mypy_cache/
.ruff_cache/

# =====================
# Environment variables
# =====================
.env
.envrc

# =====================
# Project-specific
# =====================

# Experiments (generated / disposable)
experiments*/

# Model checkpoints
checkpoints/
*.pt
*.pth